@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome to Battleship game!</h2>
<div>
    <form method="post" class="setup">
        
        <br/>
        <input name="submit" type="submit" class="btn" value="New Game" id="NewGame"/>
        <br/>
        <br/>
        <input name="submit" type="submit" class="btn" value="Load Game" id="LoadGame"/>
        <br/>
        <br/>
        <input name="submit" type="submit" class="btn" value="Saves" id="Saves"/>
        <br/>
        <br/>
        <input name="submit" type="submit" class="btn" value="Exit" id="Exit"/>
    </form>
</div>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
